<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_vlibras>
            <general>
                <enabled>1</enabled>
            </general>
        </grupoawamotos_vlibras>
        <csp>
            <policies>
                <storefront>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <blob>blob</blob>
                        </schemes>
                    </scripts>
                    <connections>
                        <policy_id>connect-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <blob>blob</blob>
                            <data>data</data>
                        </schemes>
                    </connections>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
