<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../../../../dev/tests/unit/framework/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="SmartSuggestions Unit Tests">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory=".phpunit.cache/coverage"/>
            <text outputFile=".phpunit.cache/coverage.txt"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory>../Model</directory>
            <directory>../Helper</directory>
            <directory>../Cron</directory>
            <directory>../Api</directory>
        </include>
    </source>
</phpunit>
