<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="grupoawamotos_b2b_customer_approved">
        <observer name="mktg_intelligence_enrich_on_approval"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\EnrichOnApproval"/>
    </event>
</config>
