<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_fakepurchase>
            <general>
                <enabled>0</enabled>
                <display_time>5000</display_time>
                <delay_time>8000</delay_time>
                <max_notifications>10</max_notifications>
                <position>bottom-left</position>
            </general>
            <fake_data>
                <use_fake>1</use_fake>
                <cities>São Paulo,Rio de Janeiro,Belo Horizonte,Curitiba,Porto Alegre,Salvador,Fortaleza,Recife,Brasília,Goiânia</cities>
                <first_names>João,Pedro,Lucas,Gabriel,Rafael,Bruno,Carlos,André,Felipe,Marcos</first_names>
            </fake_data>
        </grupoawamotos_fakepurchase>
    </default>
</config>
