<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GrupoAwamotos\B2B\Api\PriceVisibilityInterface"
                type="GrupoAwamotos\B2B\Model\PriceVisibility"/>

    <type name="GrupoAwamotos\B2B\Model\PriceVisibility">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="grupoawamotos_b2b_block_place_order"
                type="GrupoAwamotos\B2B\Plugin\Checkout\BlockPlaceOrderPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="grupoawamotos_b2b_block_guest_place_order"
                type="GrupoAwamotos\B2B\Plugin\Checkout\BlockGuestPlaceOrderPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="grupoawamotos_b2b_clear_cnpj_cache" xsi:type="object">GrupoAwamotos\B2B\Console\Command\ClearCnpjCacheCommand</item>
                <item name="grupoawamotos_b2b_provision_erp_customers" xsi:type="object">GrupoAwamotos\B2B\Console\Command\ProvisionErpCustomersCommand</item>
                <item name="grupoawamotos_b2b_test_whatsapp" xsi:type="object">GrupoAwamotos\B2B\Console\Command\TestWhatsAppCommand</item>
                <item name="grupoawamotos_b2b_seed_carriers" xsi:type="object">GrupoAwamotos\B2B\Console\Command\SeedCarriersCommand</item>
            </argument>
        </arguments>
    </type>
</config>
