<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<table class="header" style="background-color: #232f3e; padding: 20px; width: 100%;">
    <tr>
        <td class="logo" align="left">
            <a href="{{store url=""}}">
                <img src="{{view url='GrupoAwamotos_SalesIntelligence::images/logo_email.png'}}"
                     alt="{{trans 'Logo'}}"
                     width="150"
                />
            </a>
        </td>
    </tr>
</table>
