<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_theme>
            <contact>
                <whatsapp_number>5516997367588</whatsapp_number>
                <whatsapp_message>Olá! Gostaria de informações sobre peças para moto.</whatsapp_message>
                <phone>+5516997367588</phone>
                <email>contato@awamotos.com</email>
            </contact>
        </grupoawamotos_theme>
    </default>
</config>
