<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="meta_sales_order_create" instance="Meta\Sales\Observer\OrderCreate"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="meta_sales_order_ship" instance="Meta\Sales\Observer\OrderShip"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="meta_sales_order_refund" instance="Meta\Sales\Observer\OrderRefund"/>
    </event>
</config>
