<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Observer para adicionar dados reais de prova social (produto individual) -->
    <event name="catalog_product_load_after">
        <observer name="grupoawamotos_socialproof_add_view_count" instance="GrupoAwamotos\SocialProof\Observer\AddViewCountObserver"/>
    </event>
    <!-- Observer batch para páginas de categoria/listagem -->
    <event name="catalog_block_product_list_collection">
        <observer name="grupoawamotos_socialproof_collection_badges" instance="GrupoAwamotos\SocialProof\Observer\AddCollectionSocialProofObserver"/>
    </event>
</config>
