<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_Fitment::fitment"
             title="Fitment (Aplicacao)"
             translate="title"
             module="GrupoAwamotos_Fitment"
             sortOrder="50"
             parent="Magento_Catalog::catalog"
             resource="GrupoAwamotos_Fitment::fitment"
             action=""/>

        <add id="GrupoAwamotos_Fitment::brand"
             title="Marcas de Motos"
             translate="title"
             module="GrupoAwamotos_Fitment"
             sortOrder="10"
             parent="GrupoAwamotos_Fitment::fitment"
             resource="GrupoAwamotos_Fitment::brand"
             action="fitment/brand/index"/>

        <add id="GrupoAwamotos_Fitment::model"
             title="Modelos de Motos"
             translate="title"
             module="GrupoAwamotos_Fitment"
             sortOrder="20"
             parent="GrupoAwamotos_Fitment::fitment"
             resource="GrupoAwamotos_Fitment::model"
             action="fitment/model/index"/>

        <add id="GrupoAwamotos_Fitment::application"
             title="Aplicacoes de Pecas"
             translate="title"
             module="GrupoAwamotos_Fitment"
             sortOrder="30"
             parent="GrupoAwamotos_Fitment::fitment"
             resource="GrupoAwamotos_Fitment::application"
             action="fitment/application/index"/>
    </menu>
</config>