<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Explicit DI mapping to prevent stale-compiled metadata injecting wrong types -->
    <type name="GrupoAwamotos\SchemaOrg\Block\ProductSchema">
        <arguments>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
</config>

