<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="GrupoAwamotos_ERPIntegration::config"
                                      title="ERP Integration Configuration"
                                      sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="GrupoAwamotos_ERPIntegration::erp" title="ERP Integration" sortOrder="100">
                    <resource id="GrupoAwamotos_ERPIntegration::sync" title="Sync Operations" sortOrder="10"/>
                    <resource id="GrupoAwamotos_ERPIntegration::log" title="Sync Logs" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
