<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_erp>
            <connection>
                <enabled>0</enabled>
                <host>201.33.193.193</host>
                <port>1433</port>
                <database>INDUSTRIAL</database>
                <username>consulta</username>
                <driver>auto</driver>
                <timeout>30</timeout>
                <trust_certificate>1</trust_certificate>
            </connection>
            <sync_products>
                <enabled>1</enabled>
                <frequency>360</frequency>
                <filter_comercializa>1</filter_comercializa>
            </sync_products>
            <sync_stock>
                <enabled>1</enabled>
                <realtime>1</realtime>
                <filial>1</filial>
                <cache_ttl>300</cache_ttl>
            </sync_stock>
            <sync_customers>
                <enabled>1</enabled>
                <frequency>1440</frequency>
            </sync_customers>
            <sync_orders>
                <enabled>1</enabled>
                <send_on_place>1</send_on_place>
            </sync_orders>
            <sync_prices>
                <enabled>1</enabled>
                <frequency>240</frequency>
            </sync_prices>
            <suggestions>
                <enabled>1</enabled>
                <max_suggestions>10</max_suggestions>
            </suggestions>
        </grupoawamotos_erp>
    </default>
</config>
