<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="grupoawamotos_erp_order_place_after"
                  instance="GrupoAwamotos\ERPIntegration\Observer\OrderPlaceAfter"/>
    </event>

    <!-- WhatsApp Order Status Notifications -->
    <event name="sales_order_save_after">
        <observer name="grupoawamotos_erp_order_status_change"
                  instance="GrupoAwamotos\ERPIntegration\Observer\OrderStatusChange"/>
    </event>

    <event name="sales_order_shipment_save_after">
        <observer name="grupoawamotos_erp_shipment_save_after"
                  instance="GrupoAwamotos\ERPIntegration\Observer\ShipmentSaveAfter"/>
    </event>
</config>
