<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="meta_catalog_product_save" instance="Meta\Catalog\Observer\ProductSave"/>
    </event>
    <event name="catalog_product_delete_before">
        <observer name="meta_catalog_product_delete" instance="Meta\Catalog\Observer\ProductDelete"/>
    </event>
    <!-- Disabled: ERP stock sync triggers 593+ individual API calls to Facebook,
         causing rate limit (#80014). The cron (every 4h) handles catalog sync. -->
    <event name="cataloginventory_stock_item_save_after">
        <observer name="meta_catalog_inventory_save" instance="Meta\Catalog\Observer\InventorySave" disabled="true"/>
    </event>
</config>
